<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>Travel Planner</title>
            <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700&display=swap" rel="stylesheet">
        </head>
        <body>
            <div id = "app">
                <h1 class ="holder headline">Travel Planner</h1>
                <img class="travel" src="/src/client/media/travel.png"/>
                <h2>Tell us about your trip!</h2>
                <div id ="topHolder" class ="holder">
                    <div class="tripInput">
                        <label for="city">Destination:</label>
                        <input type="text" id="city" placeholder="enter city name here">
                    </div>
                    <div class="tripInput">
                        <label >Arrival Date:</label>
                        <input type="date" id="date">
                    </div>
                    <div class="tripInput">
                        <label >Departure Date:</label>
                        <input type="date" id="dateEnd">
                    </div>
                </div>
                <button id="generate" type = "submit"> Get My Trip Info! </button>
    
                <div class ="holder entry">
                    
                    <div id = "entryHolder">
                        <h2 class = "title">Your trip to <span id = "country"></span> is <span id = "daysAway"></span></h2>
                       <!--We want to get latitude, longitude, country-->
                           <!--<div class="infoHolder">
                               <h2>Country:</h2>
                               <div id = "country"></div>
                           </div>-->
                           <!--This is the image div-->
                           <div class="sideBySide">
                                <div id="imgDiv"></div>
                                <div>
                                      <div class="infoHolder">
                                                You will be there for  
                                                <div id = "tripLength"></div>   
                                        </div>
                                        <div class="infoHolder weather">
                                            <span><strong>Typical Weather: </strong></span>
                                            <div id = "weather"></div>   
                                        </div>
                                        <div class="infoHolder">
                                            <span><strong>Latitude: </strong></span>
                                                <div id = "lat"></div>
                                        </div>
                                        <div class="infoHolder">
                                            <span><strong>Logitude: </strong></span>
                                                <div id = "long"></div>
                                        </div>
                                        <!--<div class="infoHolder">
                                                <h2>Days Until Your Trip:</h2>
                                                <div id = "daysAway"></div>   
                                        </div>-->
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                // Check that service workers are supported
                if ('serviceWorker' in navigator) {
                    // Use the window load event to keep the page load performant
                    window.addEventListener('load', () => {
                        navigator.serviceWorker.register('/service-worker.js');
                    });
                }
            </script>
        </body>
        
    </html>