/*Main colors */ 
$background-color: #EBECF0;
$white: #fff;
$main-color: #009dff;


html {
    background-color: $background-color;
    font-family: 'Baloo Tamma 2', cursive;
}

.headline {
    font-size: 40px;
    font-weight: 200;
    margin: 20px 0;
}

.tripInput {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#entryHolder {
    display: none;
}

.entry {
    display: flex;
    flex-direction: row;
}

#generate {
    background-color: $main-color;
    color: white;
    max-width: 14em;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 100;
    text-transform: uppercase;
    border-radius: 10px;
    border-style: none;
    font-family: 'Baloo Tamma 2', cursive;
}

.holder {
    margin-top: 1.5em; 
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#app {
    width: 85%;
    margin: 40px auto;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoHolder {
    display: flex;
    flex-direction: row;
    margin: 1em;
    align-items: center;
}

#city, #date, #dateEnd {
    padding: 0.5em;
}

h2 {
    margin: 0;
    padding-right: 10px;
}

.imgClass {
    width: 80%;
    height: auto;
}

@media only screen and (max-width: 800px){
    #app {
        width: 100%;
    }
}